/* css styles */
:root {
  --primary-color: #006d77;
  --secondary-color: #83c5be;
  --background-color: #edf6f9;
  --accent-color: #ffddd2;
  --highlight-color: #e29578;
}

/* Apply colors to background page and text */
body {
  /*background-color: var(--background-color);*/
  color: var(--primary-color);
}

/* Style links */
a {
  color: var(--primary-color);
}
a:hover {
  color: var(--highlight-color);
}

/* Customize navbar */
.navbar {
  background-color: var(--background-color) !important;
}
.navbar a {
  color: var(--primary-color) !important;
}

/* Style menu icon */
.navbar-toggler-icon {
  color: var(--primary-color) !important;
  filter: invert(22%) sepia(18%) saturate(586%) hue-rotate(145deg) brightness(95%) contrast(89%);
}

/* Change the color of the active link in the navigation menu */
.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
    color: var(--highlight-color);
}

/* Change the tab text color */
.nav-tabs .nav-link {
    color: var(--primary-color);
}

.nav-tabs .nav-link.active {
    color: var(--secondary-color) !important;
}


/* Style primary buttons (e.g., submit, call to action) */
/* .btn-primary {
  background-color: var(--highlight-color);
  border-color: var(--highlight-color);
}
.btn-primary:hover {
  background-color: var(--highlight-color);
  border-color: var(--highlight-color);
} */

/* Style footer */
/* footer {
  background-color: var(--secondary-color);
  color: var(--background-color);
  padding: 10px;
  text-align: center;
} */
